@tailwind base;
@tailwind utilities;

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}

.h-500 {
  height: 500px;
}

.w-500 {
  width: 500px;
}

.pill-btn {
  @apply w-10 bg-gray-50 text-sm tracking-wide hover:bg-gray-100 active:bg-gray-100 focus:bg-gray-100;
  transition: all 0.1s ease-out;
}

.pill-btn-primary {
  @apply w-10 bg-blue-500 text-sm text-white tracking-wide hover:bg-blue-400 active:bg-blue-400 focus:bg-blue-400;
  transition: all 0.1s ease-out;
}
