:root {
  --color-fg: rgb(200, 234, 255, 1);
  --color-fg-dark: rgb(200, 234, 255, 0.4);
  --color-fg-accent: rgb(190, 129, 174);
  --color-bg: #06121d;

  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  background-color: var(--color-bg);
  color: var(--color-fg);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  border-color: var(--color-fg-dark);
}

button {
  border: 1px solid var(--color-fg-dark);
  font-weight: 100;
  letter-spacing: 0.5px;
  font-family: inherit;
  color: var(--color-fg);
  background-color: transparent;
  cursor: pointer;
  transition: all 0.25s;
  outline: none;
}

button:hover,
button:active,
button:focus {
  color: var(--color-fg-accent);
  border-color: var(--color-fg-accent);
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.container {
  border: 1px solid var(--color-fg-dark);
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.title {
  margin-left: 1rem;
  font-size: 1rem;
  font-weight: 100;
  line-height: 1.5;
  width: min-content;
  word-break: break-all;
  font-weight: 700;
  color: var(--color-fg-accent);
  user-select: none;
  -webkit-app-region: drag;
}

.counter-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border-left: 1px solid var(--color-fg-dark);
}

.counters {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 400px;
  overflow: auto;
}

.counter-container > hr {
  margin: 0rem -1rem 0rem -1rem;
  border-color: var(--color-fg-dark);
  width: 480px;
}

.counter {
  display: flex;
  border-radius: 8px;
  border: 1px solid var(--color-fg-dark);
  line-height: 1.8;
}

.name {
  text-align: left;
  width: 8rem;
  padding: 0.5rem;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.value {
  text-align: right;
  width: 2rem;
  padding: 0.5rem;
  margin-left: auto;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.inc {
  width: 3rem;
  border: 0px;
  border-left: 1px solid var(--color-fg-dark);
  border-radius: 0px;
}

.del {
  width: 3rem;
  border: 0px;
  border-left: 1px solid var(--color-fg-dark);
  border-radius: 0px 8px 8px 0px;
}

p {
  margin: 0px;
}

.empty {
  border-radius: 8px;
  border: 1px solid var(--color-fg-dark);
  color: var(--color-fg-dark);
  line-height: 1.8;
  padding: 0.5rem;
}

.add {
  display: flex;
  width: 100%;
}

.add > input {
  line-height: 1.8;
  border: 1px solid var(--color-fg-dark);
  flex-grow: 1;
  background-color: var(--color-bg);
  color: var(--color-fg);
  letter-spacing: 0.5px;
  border-radius: 8px 0px 0px 8px;
  padding: 0.5rem;
  outline: none;
  transition: all 0.25s;
}

.add > input::placeholder {
  color: var(--color-fg-dark);
}

.add > input:hover,
.add > input:active,
.add > input:focus {
  color: var(--color-fg-accent);
  border-color: var(--color-fg-accent);
}

.add > button {
  width: 3rem;
  border-left: 0px;
  border-radius: 0px 8px 8px 0px;
}
